
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
#game-content{
    display: flex;
    background-color: rebeccapurple;
    margin-top: 50px;
}
#myCanvas{
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;

}